.amount-read-only {
  width: 100px;
  display: inline-block;
}

.amount-edit {
  width: 100px;
  text-align: right;
  margin-left: 30px;
}

.example-full-width {
  width: 100%;
}

.middle {
  max-width: 300px;
  margin: auto;
}

th {
  background-color: #5999d2;
  font-size: 15px;
}

.delete-button {
  color: #bd2929a1;
}

.total-container {
  padding: 12px;
  text-align: right;
}

.sales-order-container {
  height: calc(100vh - 150px);
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.forms-fildes {
  width: 200px;
}
