.nav-link span{
  margin-left: 15px;
  color: white;
}
.span{
  color: white;
}

.fa{
  font-size: 20px !important;
}

ul.nav li.nav-item{
  width: 100%;
  float: left;
}
.nav-item .nav-link{
  color: #fff !important;
}
::ng-deep.mat-menu-content:not(:empty) {
  /* padding-top: 8px; */
  /* padding-bottom: 8px; */
  background-color: #ababab;
  /* color: white; */
}
::ng-deep.a{
  color: white;
}
::ng-deep.d-sm-inline {
  display: inline!important;
  color: white;
}