<div class="inline-center">
    <mat-form-field style="width: 300px;">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)">
    </mat-form-field>
    <div>
        <button (click)="openDialog()" class="btn btn-info btn-sm" style="height: 35px;width: 150px;">Add Category </button>
    </div>

</div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Position customer -->
        <ng-container matColumnDef="categoryName">
            <th mat-header-cell *matHeaderCellDef>Category</th>
            <td mat-cell *matCellDef="let element"> {{element.categoryName}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="categoryDesc">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.categoryDesc}} </td>
        </ng-container>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">

                <button class="kebab-menu-btn" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon class="kebab-menu">more_vert</mat-icon>
          <!-- <img src="../../assets/ellipse.png" class="home-icon" alt="" width="25px" height="25px"> -->
        </button>
                <mat-menu #menu="matMenu" style="background-color: #f7f3f3;">
                    <div>
                        <button (click)="updateCategory(element)" class="btn btn-info" style="padding: 0 20px;margin-left: 15px;margin-right: 15px;height:40px">
                            <div style="display:flex;align-items: center;">
                                <!-- <img src="../../assets/edit.png " class="home-icon " alt=" " width="18px" height="18px"> -->
                                <mat-icon class="edit">edit</mat-icon>
                                <div style="margin-left: 10px; ">Update </div>
                            </div>
                     </button>
                        <br>
                        <button (click)="deleteCategory(element)" class="btn btn-danger " style="padding: 0 20px;margin-top:8px;margin-left: 15px;margin-right: 15px;height:40px ">
                            <div style="display:flex ">
                                <!-- <img src="../../assets/delete.png " class="home-icon " alt=" " width="25px " height="25px "> -->
                                <mat-icon>delete</mat-icon>
                                <div style="margin-left: 5px; ">Delete </div>
                            </div>
                        </button
                        ><br>
                    </div>
                </mat-menu>
                <!--  -->
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[15, 30, 50]" [pageSize]="50" showFirstLastButtons></mat-paginator>
</div>