<div class="inline-center">
    <mat-form-field style="width: 300px;">
        <button matSuffix mat-button><mat-icon >search</mat-icon></button>
        <mat-label>product name</mat-label>
        <input #input (keyup)="applyFilter($event)" matInput>
    </mat-form-field>
    <div>
        <button (click)="createProduct()" class="btn btn-info btn-sm" style="height: 35px;width: 100px;"> <b>+</b> Product
        </button>
    </div>
</div>

<div class="mat-elevation-z8">
    <table [dataSource]="dataSource" mat-table>

        <ng-container matColumnDef="SNo">
            <th *matHeaderCellDef mat-header-cell>S.No</th>
            <td *matCellDef="let element; let i = index;" mat-cell> {{i + 1}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="productName">
            <th *matHeaderCellDef mat-header-cell> Product</th>
            <td *matCellDef="let element" mat-cell> {{element.productName}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="category">
            <th *matHeaderCellDef mat-header-cell> Category</th>
            <td *matCellDef="let element" mat-cell> {{element.category?.categoryName}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="qty">
            <th *matHeaderCellDef mat-header-cell>Stock</th>
            <td *matCellDef="let element" mat-cell> {{element.qty}} </td>
        </ng-container>

        <ng-container matColumnDef="price" *ngIf="super_admin || admin">
            <th *matHeaderCellDef mat-header-cell> Purchase Price</th>
            <td *matCellDef="let element" mat-cell> {{element.purchasePrice | number : '1.0-2'}}</td>
        </ng-container>

        <ng-container matColumnDef="salePrice">
            <th *matHeaderCellDef mat-header-cell> Selling Price</th>
            <td *matCellDef="let element" mat-cell class="row-highlight"><b>{{element.currentPrice | number :
                    '1.0-2'}}</b></td>
        </ng-container>

        <ng-container matColumnDef="GST">
            <th *matHeaderCellDef mat-header-cell> GST</th>
            <td *matCellDef="let element" mat-cell> {{element.gst}}%</td>
        </ng-container>

        <ng-container matColumnDef="productDesc">
            <th *matHeaderCellDef mat-header-cell> Action</th>
            <td *matCellDef="let element" mat-cell>

                <button class="kebab-menu-btn" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                    mat-icon-button>
                    <mat-icon class="kebab-menu">more_vert</mat-icon>
                    <!-- <img src="../../assets/ellipse.png" class="home-icon" alt="" width="25px" height="25px"> -->
                </button>
                <mat-menu #menu="matMenu" style="background-color: #f7f3f3;">
                    <div>
                        <div>
                            <button (click)="updateProduct(element) " class="btn btn-info "
                                style="padding: 0 20px;margin-left: 15px;margin-right: 15px;height:40px  ">
                                <div style="display:flex">
                                    <mat-icon class="edit">edit</mat-icon>
                                    <!-- <img src="../../assets/edit.png " class="home-icon " alt=" " width="18px" height="18px"> -->
                                    <div style="margin-left: 10px; ">Update </div>
                                </div>
                            </button>
                        </div>

                        <br>
                        <div>
                            <button (click)="deleteProduct(element.id) " class="btn btn-danger "
                                style="padding: 0 20px;margin-top:-10px;margin-left: 15px;margin-right: 15px;height:40px ">
                                <div style="display:flex ">
                                    <!-- <img src="../../assets/delete.png " class="home-icon " alt=" " width="25px " height="25px "> -->
                                    <mat-icon>delete</mat-icon>
                                    <div style="margin-left: 5px; ">Delete </div>
                                </div>
                            </button>

                        </div>
                    </div>
                </mat-menu>
                <!--  -->
            </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns; sticky: true " mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns; " mat-row></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[15, 30, 50] " [pageSize]="50 " showFirstLastButtons></mat-paginator>
</div>