<div class="col-md-12">
    <div class="bank-container">
        <!-- <img class="profile-img-card" id="profile-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" /> -->
        <mat-card style="width: 80%;box-shadow: rgb(0 0 0 / 10%) 0px 3px 7px 4px;padding: 0px;">
            <form [formGroup]="registerForm" (submit)="onSubmit()">
                <div style="background: #5999d2;">
                    <h3 style="text-align: center;line-height: 30px;color: white;">SHOP AND BANK DETAILS</h3>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-4">
                            <p style="text-align: center;">
                                <mat-form-field appearance="legacy" style="width: 251px;">
                                    <mat-label>Shop/Brand name</mat-label>
                                    <input matInput formControlName="brandName">
                                </mat-form-field>
                            </p>
                            <p style="text-align: center;">
                                <mat-form-field appearance="legacy" style="width: 250px;">
                                    <mat-label>Phone number</mat-label>
                                    <input matInput formControlName="phoneNumber">
                                </mat-form-field>
                            </p>

                            <p style="text-align: center;">
                                <mat-form-field appearance="legacy" style="width: 250px;">
                                    <mat-label>Email</mat-label>
                                    <input matInput formControlName="email">
                                </mat-form-field>
                            </p>
                            
                            <p style="text-align: right;">
                                <input type="file" (change)="onImageUpload($event)">
                                <img [src]="dbImage" style="width: 10%; height: 10%">
                            </p>

                            <!--<div *ngIf=dbImage>
                                <img [src]="dbImage" style="width: 10%; height: 10%">
                            </div>-->
                        </div>
                        <div class="col-4">
                            <p style="text-align: center;">
                                <mat-form-field appearance="legacy" style="width: 251px;">
                                    <mat-label>Bank name</mat-label>
                                    <input matInput formControlName="bankName">
                                </mat-form-field>
                            </p>
                            <p style="text-align: center;">
                                <mat-form-field appearance="legacy" style="width: 251px;">
                                    <mat-label>Account number</mat-label>
                                    <input matInput formControlName="accountNo">
                                </mat-form-field>
                            </p>

                            <p style="text-align: center;">
                                <mat-form-field appearance="legacy" style="width: 251px;">
                                    <mat-label>IFSC code</mat-label>
                                    <input matInput formControlName="ifscCode">
                                </mat-form-field>
                            </p>
                            <p style="text-align: center;">
                                <mat-form-field appearance="legacy" style="width: 251px;">
                                    <mat-label>Branch name</mat-label>
                                    <input matInput formControlName="branchName">
                                </mat-form-field>
                            </p>
                        </div>
                        <div class="col-4">
                            <p style="text-align: center;">
                                <mat-form-field appearance="legacy" style="width: 251px;">
                                    <mat-label>PAN number</mat-label>
                                    <input matInput formControlName="panNo">
                                </mat-form-field>
                            </p>
                            <p style="text-align: center;">
                                <mat-form-field appearance="legacy" style="width: 251px;">
                                    <mat-label>GST number</mat-label>
                                    <input matInput formControlName="gstNo">
                                </mat-form-field>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="button-container">
                    <span style="color: red;">{{errorMessage}}</span>
                </div>
                <div class="button-container">
                    <button class="btn btn-primary" type="submit"
                        style="width: 25%;margin-left: 5px;border-radius: 10px;margin-bottom: 20px;">Update
                    </button>
                </div>
            </form>
        </mat-card>
    </div>
</div>

<div class="middle" *ngIf="showMsg">
    <div class="col-xs-6">
        <p class="alert alert-success">
            <strong>Bank details Successfully updated!!</strong>
        </p>
    </div>
</div>