<div>
    <mat-form-field style="width: 300px;">
        <mat-label>Search</mat-label>
        <input #input (keyup)="applyFilter($event)" matInput>
    </mat-form-field>
    <div class="pull-right">
        <button (click)="createProduct()" class="btn btn-info btn-sm"
                style="height: 35px;width: 150px;"> Add Product
        </button>
    </div>

</div>

<div class="mat-elevation-z8">
<table [dataSource]="dataSource" mat-table>

    <ng-container matColumnDef="SNo">
        <th *matHeaderCellDef mat-header-cell>S.No</th>
        <td *matCellDef="let element; let i = index;" mat-cell> {{i + 1}}. </td>
    </ng-container>
    
    <!-- Name Column -->
    <ng-container matColumnDef="productName">
        <th *matHeaderCellDef mat-header-cell> Product</th>
        <td *matCellDef="let element" mat-cell> {{element.productName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="category">
        <th *matHeaderCellDef mat-header-cell> Category</th>
        <td *matCellDef="let element" mat-cell> {{element.category?.categoryName}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="qty">
        <th *matHeaderCellDef mat-header-cell>Stock</th>
        <td *matCellDef="let element" mat-cell> {{element.qty}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
        <th *matHeaderCellDef mat-header-cell> Avg Price</th>
        <td *matCellDef="let element" mat-cell> {{element.price  | number : '1.0-2'}}</td>
    </ng-container>

    <ng-container matColumnDef="salePrice">
        <th *matHeaderCellDef mat-header-cell> Selling Price</th>
        <td *matCellDef="let element"  mat-cell class="row-highlight"><b>{{element.currentPrice  | number : '1.0-2'}}</b></td>
    </ng-container>

    <!-- <ng-container matColumnDef="profit">
        <th *matHeaderCellDef mat-header-cell> Profit</th>
        <td *matCellDef="let element" mat-cell> {{element.profit | number : '1.0-2'}} </td>
    </ng-container> -->

    <!--<ng-container matColumnDef="HSN/SAC">
        <th *matHeaderCellDef mat-header-cell> HAN/SAC</th>
        <td *matCellDef="let element" mat-cell> {{element.hsnNo}}</td>
    </ng-container>-->

    <ng-container matColumnDef="GST">
        <th *matHeaderCellDef mat-header-cell> GST</th>
        <td *matCellDef="let element" mat-cell> {{element.gst}}%</td>
    </ng-container>

    <ng-container matColumnDef="productDesc">
        <th *matHeaderCellDef mat-header-cell> Action</th>
        <td *matCellDef="let element" mat-cell>

            <button class="kebab-menu-btn" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" mat-icon-button>
                <mat-icon class="kebab-menu">more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" style="background-color: #f7f3f3;">
                <div>
                    <button (click)="updateProduct(element)" class="btn btn-info"
                            style="width: 80px;margin-left: 15px;">
                        Update
                    </button>
                    <br>
                    <button (click)="deleteProduct(element.id)"
                            class="btn btn-danger"
                            style="margin-top:5px;width: 80px;margin-left: 15px;">Delete
                    </button>
                </div>
            </mat-menu>
            <!--  -->

        </td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns;  sticky: true" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
<!-- <mat-paginator [pageSizeOptions]="[15, 30, 50]" [pageSize]="50" showFirstLastButtons></mat-paginator>-->
</div>
