<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
  <a class="navbar-brand" href="#">RK-FERTILIZER</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">
          DASHBOARDS </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/dashboard/products"  routerLinkActive="active">PRODUCTS</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/dashboard/salesOrder"  routerLinkActive="active">SALES</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/dashboard/add">ADD PRODUCT</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/dashboard/addCategory"> ADD CATEGORY</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/dashboard/supplier"> SUPPLIER</a>
        </li>
    </ul>

  </div>
</nav>
