<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
    <a class="navbar-brand" href="#">RK-FERTILIZER</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/dashboard" routerLinkActive="active">
                    DASHBOARDS </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/dashboard/products">PRODUCTS</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/dashboard/salesOrder">SALES</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/dashboard/add">ADD PRODUCT</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/dashboard/addCategory"> ADD CATEGORY</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/dashboard/supplier"> SUPPLIER</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/dashboard/location"> LOCATION</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/company"> COMPANY</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard/customer"> CUSTOMER</a>
            </li>
        </ul>

    </div>
</nav>
