<div class="product-conatiner">
    <div *ngIf="locationUpdateData?.data.id==null" class="title-header">
        <h4 class="title">Add location</h4>
    </div>
    <div *ngIf="locationUpdateData?.data.id!=null" class="title-header">
        <h4 class="title">Update location</h4>
    </div>
    <hr>
    <form [formGroup]="locationForm" (submit)="onSubmit()">
        <div class="title-header">
            <mat-form-field class="forms-fildes">
                <input formControlName="cityName" matInput placeholder="location Name" required>
                <mat-error *ngIf="locationForm.get('cityName').hasError('required')">
                    City Name required!
                </mat-error>
            </mat-form-field>
        </div>

        <div class="button-container">
            <button type="button" (click)="closeModal()" aria-label="Close" class="btn btn-warning"
                    style="width: 25%;margin-left: 5px;">Cancel
            </button>
            <button [disabled]="!locationForm.valid" class="btn btn-primary"
                    style="width: 25%;margin-left: 5px;">Save
            </button>
        </div>
        <div class="button-container">
            <h4 style="color: green;">{{successMsg}}</h4>
            <h4 style="color: red;">{{errorMsg}}</h4>
        </div>
    </form>

</div>
