<div [hidden]="submitted" style="width: 400px;">
  <h3>Create Location</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">City</label>
      <input type="text" class="form-control" id="city" required [(ngModel)]="location.cityName" name="city">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h3>Update Location</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">City</label>
      <input type="text" class="form-control" id="city" required [(ngModel)]="location.cityName" name="city">
    </div>
    <button type="submit" class="btn btn-success">Update</button>
  </form>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Location List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>City</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let location of locations | async">
          <td>{{location.cityName}}</td>
          <td><button (click)="deleteLocation(location.locationID)" class="btn btn-danger">Delete</button>
            <button (click)="getLocation(location.locationID)" class="btn btn-info"
              style="margin-left: 10px">Update</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
