<div class="product-conatiner">
    <div class="title-header" *ngIf="productUpdateData?.id==null">
        <h4 class="title">Add Product</h4>
    </div>
    <div class="title-header" *ngIf="productUpdateData?.id!=null">
        <h4 class="title">Update Product</h4>
    </div>
    <hr>
    <form [formGroup]="productForm">
        <div class="addproduct-container">
            <mat-form-field class="forms-fildes">
                <input formControlName="categoryName" [matAutocomplete]="supplierAuto" aria-label="Number" matInput
                    placeholder="Category" type="text">
                <mat-autocomplete #supplierAuto="matAutocomplete" autoActiveFirstOption>
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option?.categoryName">
                        {{option?.categoryName}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="addproduct-container">
            <mat-form-field class="forms-fildes">
                <input formControlName="productName" matInput placeholder="Product Name">
            </mat-form-field>
            <br>
        </div>
        <div class="addproduct-container">
            <mat-form-field class="forms-fildes">
                <input formControlName="hsnNo" matInput placeholder="HSN/SAC">
            </mat-form-field>
            <br>
        </div>
        <div class="addproduct-container">
            <mat-form-field class="forms-fildes">
                <input formControlName="gst" matInput placeholder="GST%">
            </mat-form-field>
            <br>
        </div>
        <div class="button-container">
            <button (click)="closeModal()" aria-label="Close" class="btn btn-danger"
                style="width: 25%;margin-left: 5px;border-radius: 10px;">Cancel
            </button>
            <button (click)="onSubmit()" [disabled]="!productForm.valid" class="btn btn-primary"
                style="width: 25%;margin-left: 5px;border-radius: 10px;">Save
            </button>
        </div>
        <div class="button-container">
            <h4 style="color: green;">{{successMsg}}</h4>
            <h4 style="color: red;">{{errorMsg}}</h4>
        </div>
    </form>

</div>