<div class="text-center">
    <h3>Add Product</h3>
</div>
<hr>
<form [formGroup]="productForm">
    <div class="addproduct-container">
        <mat-form-field class="forms-fildes">
            <input type="text" placeholder="Category" aria-label="Number" formControlName="category" matInput [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <!-- <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
            </mat-option> -->
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <div class="addproduct-container">
        <mat-form-field class="forms-fildes">
            <input matInput placeholder="Enter Product Name" formControlName="productName">
        </mat-form-field><br>
    </div>
    <div class="addproduct-container">
        <mat-form-field class="forms-fildes">
            <input matInput placeholder="Enter Price " formControlName="price">
        </mat-form-field><br>
    </div>
    <div class="addproduct-container">
        <mat-form-field class="forms-fildes">
            <input matInput placeholder="Enter Quantity " formControlName="qty">
        </mat-form-field><br>
    </div>
    <div class="button-container">
        <button class="btn btn-warning" style="width: 25%;margin-left: 5px;">Cancel</button>
        <button class="btn btn-primary" [disabled]="!productForm.valid" style="width: 25%;margin-left: 5px;">Save</button>

    </div>
</form>