<div class="product-conatiner">

    <form [formGroup]="productForm" (submit)="onSubmit()">
        <div class="addproduct-container">
            <mat-form-field class="forms-fildes">
                <mat-label>Customer name</mat-label>
                <input formControlName="customerName" matInput readonly>
            </mat-form-field>
            <br>
        </div>

        <div class="addproduct-container">
            <mat-form-field class="forms-fildes">
                <mat-label>Current balance</mat-label>
                <input type="text" formControlName="currentBalance" matInput readonly>
            </mat-form-field>
            <br>
        </div>

        <div class="addproduct-container">
            <mat-form-field class="forms-fildes">
                <mat-label>Pay amount</mat-label>
                <input formControlName="payAmount" type="number" matInput required>
            </mat-form-field>
            <br>
        </div>

        <mat-form-field>
            <mat-label>Due date</mat-label>
            <input matInput [matDatepicker]="picker2" [min]="minStartDate" formControlName="dueDate">
            <mat-datepicker-toggle matSuffix [for]="picker2" ng-model-options="{timezone: 'utc'}">
            </mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <div class="button-container">
            <span style="color: red;">{{errorMessage}}</span>
        </div>

        <div class="button-container">
            <button type="button" (click)="closeModal()" aria-label="Close" class="btn btn-warning"
                style="width: 25%;margin-left: 5px;">Cancel
            </button>
            <button [disabled]="!productForm.valid" class="btn btn-primary"
                style="width: 25%;margin-left: 5px;border-radius: 10px;">Save
            </button>
        </div>
    </form>
    <ng-template #modalContent let-modal>
        <div class="modal-header">
            <h4 class="modal-title modal-title-custom" id="modal-basic-title">{{popupTitle}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p><strong>{{popupsubtitle}}</strong></p>
            <p>{{popupDescription}}</p>
            <div [innerHTML]="popupMarkup"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary"
                (click)="modal.dismiss('cancel click')">Cancel</button>
            <button type="button" ngbAutofocus class="btn btn-primary" (click)="modal.close('Save click')">Ok</button>
        </div>
    </ng-template>
</div>