<form [formGroup]="purchaserOrderForm">
  <div class="d-flex">
    <div class="form-group col-3">
      <mat-form-field class="forms-fildes">
        <mat-label>Supplier</mat-label>
        <input type="text" placeholder="Select Supplier" aria-label="Supplier" matInput formControlName="supplierName"
          [matAutocomplete]="supplierAuto">
        <mat-autocomplete #supplierAuto="matAutocomplete" autoActiveFirstOption
          (optionSelected)="selectedSupplier($event.option.value)">
          <mat-option *ngFor="let supplier of filteredSuppliers | async" [value]="supplier.supplierName">
            {{supplier.supplierName}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="form-group col-3">
      <mat-form-field class="forms-fildes">
        <mat-label>Product</mat-label>
        <input type="text" placeholder="Select Product" aria-label="Product" matInput formControlName="productName"
          required [matAutocomplete]="productAuto">
        <mat-autocomplete #productAuto="matAutocomplete" autoActiveFirstOption
          (optionSelected)="selectedProduct($event.option.value)">
          <mat-option *ngFor="let product of filteredProducts | async" [value]="product.productName">
            {{product.productName}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="form-group col-3">
      <mat-form-field class="forms-fildes">
        <mat-label>Motor Vehicle no</mat-label>
        <input type="text" placeholder="Motor Vehicle No" aria-label="Motor Vehicle no" matInput
          formControlName="motorVehicleNo">
      </mat-form-field>
    </div>

    <mat-form-field class="form-group col-2">
      <mat-label>Due date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dueDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  </div>
  <div class="mat-elevation-z8 purchase-order-container">
    <table formArrayName="purchaseOrderDetail" [dataSource]="purchaseOrderDetailData" mat-table>
      <ng-container matColumnDef="sno">
        <th *matHeaderCellDef mat-header-cell class="text-left pr-4">S. No</th>
        <td *matCellDef="let element; let i = index;" mat-cell class="text-right pr-4"> {{i + 1}}. </td>
        <td mat-footer-cell *matFooterCellDef><strong>Total</strong></td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th *matHeaderCellDef mat-header-cell class="text-left pr-4">Action</th>
        <td *matCellDef="let element; let i = index;" mat-cell>
          <button (click)="removeProduct(i)" mat-icon-button aria-label="Remove product">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="item">
        <th *matHeaderCellDef mat-header-cell>Item & Description</th>
        <td *matCellDef="let element" mat-cell>{{element.get('product').value?.productName}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th *matHeaderCellDef mat-header-cell class="text-right pr-4">Rate</th>
        <td *matCellDef="let element; let index = index" mat-cell class="text-right pr-4" [formGroupName]="index">
          <mat-form-field floatLabel="never">
            <input matInput placeholder="Price" type="number" formControlName="price" required class="text-right">
            <span matPrefix>₹&nbsp;</span>
            <mat-error *ngIf="element.get('price')?.hasError('required')">
              Price is Required!
            </mat-error>
            <mat-error *ngIf="element.get('price')?.hasError('max')">
              Price can't be greater than 10 LAKHS
            </mat-error>
          </mat-form-field>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th *matHeaderCellDef mat-header-cell class="text-right pr-4">Quantity</th>
        <td *matCellDef="let element; let index = index" mat-cell class="text-right pr-4" [formGroupName]="index">
          <mat-form-field floatLabel="never" class="text-right">
            <input matInput [placeholder]="element.get('product')?.value?.qty" type="number" formControlName="qtyOrdered" required>
            <mat-error *ngIf="element.get('qtyOrdered')?.hasError('required')">
              Quantity is Required!
            </mat-error>
            <mat-error *ngIf="element.get('qtyOrdered')?.hasError('max')">
              Quantity can't be greater than 10 LAKHS
            </mat-error>
          </mat-form-field>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th *matHeaderCellDef mat-header-cell class="text-right pr-4">Amount</th>
        <td *matCellDef="let element" mat-cell class="text-right pr-4">
          ₹{{element.get('price')?.value * element.get('qtyOrdered')?.value}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="taxType">
        <th *matHeaderCellDef mat-header-cell class="text-right pr-4">
          CGST/SGST <br> IGST Rate
        </th>
        <td *matCellDef="let element" mat-cell class="text-right pr-4">
          {{element.get('product')?.value.gst}}%</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="taxAmount">
        <th *matHeaderCellDef mat-header-cell class="text-right pr-4">Tax Amount</th>
        <td *matCellDef="let element" mat-cell class="text-right pr-4">
          ₹{{element.get('price')?.value * element.get('qtyOrdered')?.value * element.get('product')?.value.gst/100}}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="totalAmount">
        <th *matHeaderCellDef mat-header-cell class="text-right pr-4">Total Amount</th>
        <td *matCellDef="let element" mat-cell class="text-right pr-4">
          ₹{{element.get('price')?.value * element.get('qtyOrdered')?.value + element.get('price')?.value * element.get('qtyOrdered')?.value * element.get('product')?.value.gst/100}}
        </td>
        <td mat-footer-cell *matFooterCellDef class="text-right pr-4">{{ totalAmount | currency:'INR' }} </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns;  sticky: true" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>

    <div class="total-container">
      <div>
        <label for="name">Amount Paid </label>
        <input class="amount-edit" type="number" formControlName="amountPaid" required>
      </div>
      <div>
        <label for="name">Current Balance </label>
        <span class="amount-read-only">{{ getCurrentBalance() | currency:'INR' }}</span>
      </div>
      <div>
        <label for="name">Previous Balance </label>
        <span class="amount-read-only">{{previousBalance | currency:'INR' }}</span>
      </div>
      <div>
        <label for="name">Total Pay Balance</label>
        <span class="amount-read-only">{{getTotalBalance() | currency:'INR'}}</span>
      </div>
      <button type="submit" class="btn btn-success" (click)="save()"
        [disabled]="purchaserOrderForm.invalid">Submit</button>
    </div>
  </div>
</form>