<div class="product-conatiner">
    <div class="title-header">
        <h4 class="title">Add Customer</h4>
    </div>
    <hr>
    <form [formGroup]="customerForm">
        <div class="title-header">
            <mat-form-field class="forms-fildes">
                <input formControlName="customerName" matInput placeholder="Customer Name">
            </mat-form-field>
        </div>
        <div class="title-header">
            <mat-form-field class="forms-fildes">
                <mat-select formControlName="cityName" placeholder="City">
                    <mat-option *ngFor="let location of citiesList" [value]="location">{{location.cityName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="title-header">
            <mat-form-field class="forms-fildes">
                <input formControlName="phoneNumber" matInput placeholder="Phone Number" required>
                <mat-error *ngIf="customerForm.get('phoneNumber').hasError('required')">
                    Phone Number required!
                </mat-error>
                <mat-error *ngIf="customerForm.get('phoneNumber').hasError('pattern')">
                    Only Numbers allowed.
                </mat-error>
                <mat-error *ngIf="customerForm.get('phoneNumber').hasError('maxlength')">
                    Max lenghth is 10 Number.
                </mat-error>
                <mat-error *ngIf="customerForm.get('phoneNumber').hasError('minlength')">
                    Min lenghth is 10 Number.
                </mat-error>
            </mat-form-field>
        </div>
        <div class="button-container">
            <button (click)="closeModal()" aria-label="Close" class="btn btn-warning"
                    style="width: 25%;margin-left: 5px;">Cancel
            </button>
            <button (click)="saveCustomer()" [disabled]="!customerForm.valid" class="btn btn-primary"
                    style="width: 25%;margin-left: 5px;">Save
            </button>
        </div>
        <div class="button-container">
            <h4 style="color: green;">{{successMsg}}</h4>
            <h4 style="color: red;">{{errorMsg}}</h4>
        </div>
    </form>

</div>
