<div class="product-conatiner">

    <form [formGroup]="productForm" (submit)="onSubmit()">
        <div class="addproduct-container">
            <mat-form-field class="forms-fildes">
                <mat-label>Supplier name</mat-label>
                <input formControlName="supplierName" matInput readonly>
            </mat-form-field>
            <br>
        </div>

        <div class="addproduct-container">
            <mat-form-field class="forms-fildes">
                <mat-label>Current balance</mat-label>
                <input type="text" formControlName="currentBalance" matInput readonly>
            </mat-form-field>
            <br>
        </div>

        <div class="addproduct-container">
            <mat-form-field class="forms-fildes">
                <mat-label>Pay amount</mat-label>
                <input formControlName="payAmount" matInput required>
            </mat-form-field>
            <br>
        </div>

        <div class="button-container">
            <button type="button"  (click)="closeModal()" aria-label="Close" class="btn btn-warning"
                style="width: 25%;margin-left: 5px;">Cancel
            </button>
            <button [disabled]="!productForm.valid" class="btn btn-primary"
                style="width: 25%;margin-left: 5px;border-radius: 10px;">Save
            </button>
        </div>
    </form>

</div>