<div [hidden]="submitted" style="width: 400px;">
  <h3>Create Supplier</h3>
  <!-- <form (ngSubmit)="onSubmit()"> -->
  <div class="form-group">
    <label for="name">Supplier</label>
    <input type="text" class="form-control" id="supplierName" required [(ngModel)]="supplier.supplierName"
      name="supplierName">
  </div>
  <div class="form-group">
    <label for="name">City</label>
    <select name="locations" class="form-control" [(ngModel)]="supplier.location">
      <option disabled selected>Select Location</option>
      <option *ngFor="let location of locations | async" [ngValue]="location">{{location.cityName}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="name">Company</label>
    <select name="companies" class="form-control" [(ngModel)]="supplier.company">
      <option disabled selected>Select Location</option>
      <option *ngFor="let company of companies | async" [ngValue]="company">{{company.companyName}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="name">Phone number</label>
    <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="supplier.phoneNumber" name="phoneNumber">
  </div>
  <button type="submit" class="btn btn-success" (click)="onSubmit()">Submit</button>
  <!-- </form> -->
</div>


<div [hidden]="!submitted" style="width: 400px;">
  <h3>Update Supplier</h3>
  <form (ngSubmit)="updateSupplier(supplier)">
    <div class="form-group">
      <label for="name">Supplier</label>
      <input type="text" class="form-control" id="supplierName" required [(ngModel)]="supplier.supplierName"
        name="supplierName">
    </div>
    <div class="form-group">
      <label for="name">City</label>
      <select name="locations" class="form-control" [(ngModel)]="supplier.location">
        <option disabled selected>Select Location</option>
        <option *ngFor="let location of locations | async" [ngValue]="location">{{location.cityName}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="name">Company</label>
      <select name="companies" class="form-control" [(ngModel)]="supplier.company">
        <option disabled selected>Select Location</option>
        <option *ngFor="let company of companies | async" [ngValue]="company">{{company.companyName}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="name">Phone number</label>
      <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="supplier.phoneNumber" name="phoneNumber">
    </div>
    <button type="submit" class="btn btn-success">Update</button>
  </form>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Supplier List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Supplier</th>
          <!-- <th>City</th> -->
          <th>Phone number</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let supplier of suppliers | async">
          <td>{{supplier.supplierName}}</td>
          <!-- <td>{{supplier.location.cityName}}</td> -->
          <td>{{supplier.phoneNumber}}</td>
          <td><button (click)="deleteSupplier(supplier.supplierID)" class="btn btn-danger">Delete</button>
            <button (click)="getSupplier(supplier.supplierID)" class="btn btn-info"
              style="margin-left: 10px">Update</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
