table {
    width: 100%;
  }
  th{
    background-color: #ababab;
   font-size: 15px;
  }

  ::ng-deep.mat-menu-content:not(:empty) {
    /* padding-top: 8px; */
    /* padding-bottom: 8px; */
    background-color: #1389fd;
    /* color: white; */
}
::ng-deep.a{
  color: white;
}