<div class="panel panel-primary">
  <!-- <div class="panel-heading">
    <h2>Product List</h2>
  </div> -->
  <mat-form-field style="width: 300px;">
    <mat-label>Saerch</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. urea" #input>
  </mat-form-field>
  <div class="pull-right">
    <button (click)="openModal(addProfileModal, product)" class="btn btn-info btn-sm" style="height: 35px;width: 150px;"> Add Product </button>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="productID">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.productID}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef> Product </th>
        <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Category </th>
        <td mat-cell *matCellDef="let element"> {{element.category?.categoryName}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="qty">
        <th mat-header-cell *matHeaderCellDef> Qty Stock </th>
        <td mat-cell *matCellDef="let element"> {{element.qty}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>
      <ng-container matColumnDef="productDesc">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">

          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
<mat-menu #menu="matMenu" style="background-color: #f7f3f3;">
  <div>
  <button (click)="openModal(editProfileModal, product)"  class="btn btn-info" style="width: 80px;margin-left: 15px;">
    Update </button>
    <br>
      <button (click)="deleteProduct(product.productID)" style="margin-top:5px;width: 80px;margin-left: 15px;" class="btn btn-danger">Delete</button>
      <br>
      <button (click)="productDetails(product.productID)" style="margin-top:5px;width: 80px;margin-left: 15px;" class="btn btn-info"
        >Details</button>
      </div>
</mat-menu>
          <!--  -->
            
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  
  <!-- <div>
    <button (click)="openModal(addProfileModal, product)" class="btn btn-info btn-sm"> Add Product </button>
  </div> -->
  <div class="panel-body">
    <!-- <p-table [value]="products" [(selection)]="selectedCustomers" dataKey="id"
      class="table table-bordered row-border hover" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
      [loading]="loading" [responsive]="true" [paginator]="true" sortMode="multiple">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="productID">#Id</th>
          <th pSortableColumn="productName">Product Name</th>
          <th pSortableColumn="category">Category</th>
          <th pSortableColumn="qty">Qty Stock</th>
          <th pSortableColumn="price">Price</th>
          <th colspan="3">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{product.productID}}</td>
          <td>{{product.productName}}</td>
          <td>{{product.category?.categoryName}}</td>
          <td>{{product.qty}}</td>
          <td>{{product.price}}</td>
          <td>
            <button (click)="openModal(editProfileModal, product)" style="margin-top:5px;" class="btn btn-info btn-sm">
              Update </button>
          </td>
          <td>
            <button (click)="deleteProduct(product.productID)" class="btn btn-danger">Delete</button>
          </td>
          <td>
            <button (click)="productDetails(product.productID)" class="btn btn-info"
              style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </ng-template>
    </p-table> -->

    <!-- 
    <table class="table table-bordered row-border hover" >
      <thead>
        <tr>
          <th>Product</th>
          <th>Category</th>
          <th (click)="sort('price')">Price</th>
          <th>Qty Stock</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="products?.length == 0">
        <tr>
          <td colspan="3" class="no-data-available">No data!</td>
        </tr>
      <tbody>
      <tbody *ngIf="products?.length != 0">
        <tr *ngFor="let product of products | paginate: { itemsPerPage: 10, currentPage: p }">
          <td>{{product.productName}}</td>
          <td>{{product.category.categoryName}}</td>
          <td>{{product.price}}</td>
          <td>{{product.qty}}</td>
          <td class="d-none d-sm-block">
            <button (click)="deleteProduct(product.productID)" class="btn btn-danger">Delete</button>
            <button (click)="openModal(editProfileModal, product)" class="btn btn-info"
              style="margin-left: 10px">Update</button>
            <button (click)="productDetails(product.productID)" class="btn btn-info"
              style="margin-left: 10px">Details</button>
          </td>
          <td class="d-block d-sm-none" >

                <button (click)="deleteProduct(product.productID)"  class="btn btn-danger btn-sm">
                  <i class="fa fa-trash"></i>
                </button>

                <button (click)="openModal(editProfileModal, product)" style="margin-top:5px;" class="btn btn-info btn-sm"
                >  <i class="fa fa-edit"></i></button>

                <button (click)="productDetails(product.productID)" style="margin-top:5px;" class="btn btn-info btn-sm">
                  <i class="fa fa-eye"></i></button>
          </td>
        </tr>
        <tr>
          <td colspan="8" class="text-right">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
          </td>
        </tr>
      </tbody>
    </table> -->


  </div>
</div>

<ng-template #editProfileModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="editProfileLabel">Update Product</h5>
    <button type="button" class="close" (click)="closeModal()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="editProfileForm" (ngSubmit)="updateProduct()">
      <div class="form-group row">
        <label for="lastname" class="col-sm-4 col-form-label">Product</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="productName" name="productName" id="productName"
            [(ngModel)]="product.productName">
        </div>
      </div>
      <div class="form-group row">
        <label for="firstname" class="col-sm-4 col-form-label">Price</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="price" name="price" id="price"
            [(ngModel)]="product.price">
        </div>
      </div>
      <div class="form-group row">
        <label for="username" class="col-sm-4 col-form-label">Qty</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" name="qty" formControlName="qty" id="qty" [(ngModel)]="product.qty">
        </div>
      </div>

      <div class="form-group row">
        <label for="username" class="col-sm-4 col-form-label">Category</label>
        <div class="col-sm-8">
          <select name="category" id="category" formControlName="category" class="form-control" required
            [(ngModel)]="product.category">
            <option disabled>Select Category</option>
            <option *ngFor="let category of categories | async">{{category.categoryName}}</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #addProfileModal let-modal>
  <mat-card>
    <h4>Add Product</h4>
    <hr>
    <div style="display: flex;justify-content: center;">

    
<mat-form-field class="example-full-width" style="width: 300px;">
  <mat-label>Favorite food</mat-label>
  <input matInput placeholder="Ex. Pizza" value="Sushi">
</mat-form-field><br>
</div>
<mat-form-field class="example-full-width">
  <mat-label>Favorite food</mat-label>
  <input matInput placeholder="Ex. Pizza" value="Sushi">
</mat-form-field><br>

<mat-form-field class="example-full-width">
  <mat-label>Favorite food</mat-label>
  <input matInput placeholder="Ex. Pizza" value="Sushi">
</mat-form-field><br>
  
</mat-card>
</ng-template>


<ng-template #addProfileModal1 let-modal>
  <h3>Create Product</h3>
  <div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Product</label>
        <input type="text" class="form-control" id="productName" required [(ngModel)]="product.productName"
          name="productName">
      </div>



      <div class="form-group">
        <label for="name">Category</label>
        <select name="categories" class="form-control" required [(ngModel)]="product.category">
          <option disabled>Select Category</option>
          <option [ngValue]="category" *ngFor="let category of categories | async">{{category.categoryName}}</option>
        </select>
      </div>


      <!-- <mat-form-field>
      <input type="text" placeholder="Enter Category" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let category of categories | async" [value]="category.categoryName">
          {{category.categoryName}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field> -->

      <div class="form-group">
        <label for="name">Price</label>
        <input type="text" class="form-control" id="price" required [(ngModel)]="product.price" name="price">
      </div>

      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
    <!-- <button class="btn btn-success" (click)="newProduct()">Add</button> -->
  </div>

</ng-template>