<div class="product-conatiner">
    <div class="title-header">
        <h4 class="title">Add Supplier</h4>
    </div>
    <hr>
    <form>
        <div class="title-header">
            <mat-form-field class="forms-fildes">
                <input matInput placeholder="Supplier">
            </mat-form-field>
        </div>
        <div class="title-header">
        <mat-form-field class="forms-fildes">
            <mat-select placeholder="City">
                <mat-option value="option">Option</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="title-header">
        <mat-form-field class="forms-fildes">
            <mat-select placeholder="Company">
                <mat-option value="option">Option</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
        <div class="title-header">
            <mat-form-field class="forms-fildes">
                <input matInput placeholder=" Phone Number">
            </mat-form-field>
        </div>
        <div class="button-container">
            <button class="btn btn-danger" style="width: 25%;margin-left: 5px;border-radius: 10px;"  (click)="closeModal()" aria-label="Close">Cancel</button>
            <button class="btn btn-primary" style="width: 25%;margin-left: 5px;border-radius: 10px;">Save</button>
          
          </div>
    </form>

</div>