<div class="product-conatiner">
    <div class="title-header">
        <h4 class="title">Add Supplier</h4>
    </div>
    <hr>
    <form [formGroup]="supplierForm" (submit)="onSubmit()">
        <div class="title-header">
            <mat-form-field class="forms-fildes">
                <input matInput placeholder="Supplier Name" formControlName="supplierName">
            </mat-form-field>
        </div>
        <div class="title-header">
            <mat-form-field class="forms-fildes">
                <input matInput placeholder="GSTIN" formControlName="gstIn">
            </mat-form-field>
        </div>
        <div class="title-header">
            <mat-form-field class="forms-fildes">
                <mat-select placeholder="City" formControlName="cityName">
                    <mat-option [value]="location" *ngFor="let location of citiesList">{{location.cityName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="title-header">
            <mat-form-field class="forms-fildes">
                <mat-select placeholder="company" formControlName="companyName">
                    <mat-option [value]="company" *ngFor="let company of companies">{{company.companyName}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="title-header">
            <mat-form-field class="forms-fildes">
                <input matInput placeholder="Phone Number" formControlName="phoneNumber">
            </mat-form-field>
        </div>
        <div class="button-container">
            <button (click)="closeModal()" aria-label="Close" class="btn btn-warning"
                style="width: 25%;margin-left: 5px;">Cancel
            </button>
            <button class="btn btn-primary" style="width: 25%;margin-left: 5px;border-radius: 10px;"
                [disabled]="!supplierForm.valid">Save</button>
        </div>
        <div class="button-container">
            <h4 style="color: green;">{{successMsg}}</h4>
            <h4 style="color: red;">{{errorMsg}}</h4>
        </div>
    </form>

</div>