<div class="product-conatiner">

    <form [formGroup]="productForm">
        <div class="addproduct-container">
            <mat-form-field class="forms-fildes">
                <input formControlName="customerName" matInput readonly>
            </mat-form-field>
            <br>
        </div>

        <div class="addproduct-container">
            <mat-form-field class="forms-fildes">
                <input type="text" formControlName="currentBalance" matInput readonly>
            </mat-form-field>
            <br>
        </div>

        <div class="addproduct-container">
            <mat-form-field class="forms-fildes">
                <input formControlName="payAmount" matInput required>
            </mat-form-field>
            <br>
        </div>

        <div class="button-container">
            <button (click)="closeModal()" aria-label="Close" class="btn btn-warning"
                style="width: 25%;margin-left: 5px;">Cancel
            </button>
            <button (click)="onSubmit()" [disabled]="!productForm.valid" class="btn btn-primary"
                style="width: 25%;margin-left: 5px;border-radius: 10px;">Save
            </button>
        </div>
    </form>

</div>