<div class="form-group">
  <button style="margin-left:1cm;" type="submit" class="btn btn-success">
    <p>Total Purchase</p>
    <p>{{purchaseOrdersCount}}</p>
  </button>

  <button style="margin-left:1cm;" type="submit" class="btn btn-success">
    <p>Total Sell</p>
    <p>{{salesOrdersCount}}</p>
  </button>

  <button style="margin-left:1cm;" type="submit" class="btn btn-success">
    <p>Total Products</p>
    <p>{{productsCount}}</p>
  </button>

  <button style="margin-left:1cm;" type="submit" class="btn btn-success">
    <p>Total Customers</p>
    <p>{{customersCount}}</p>
  </button>

  <button style="margin-left:1cm;" type="submit" class="btn btn-success">
    <p>Total Supplier</p>
    <p>{{suppliersCount}}</p>
  </button>
</div>

<div class="form-group">
  <button style="margin-left:1cm;" type="submit" class="btn btn-success">
    <p>Total Customer Balance</p>
    <p>{{totalCustomerBalance}}</p>
  </button>

  <button style="margin-left:1cm;" type="submit" class="btn btn-success">
    <p>Total Supplier Balance</p>
    <p>{{totalSupplierBalance}}</p>
  </button>
</div>
