<div [hidden]="submitted" style="width: 400px;">
  <h3>Create Customer</h3>
  <!-- <form (ngSubmit)="onSubmit()"> -->
  <div class="form-group">
    <label for="name">Customer</label>
    <input type="text" class="form-control" id="customerName" required [(ngModel)]="customer.customerName"
      name="customerName">
  </div>
  <div class="form-group">
    <label for="name">City</label>
    <select name="locations" class="form-control" [(ngModel)]="customer.location">
      <option disabled selected>Select Location</option>
      <option *ngFor="let location of locations | async" [ngValue]="location">{{location.cityName}}</option>
    </select>

<!-- work in progress-->
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input type="text"
               placeholder="Pick one"
               aria-label="Number"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option.cityName" (change) = "changeOption(option)">
            {{option.cityName}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>

  </div>
  <div class="form-group">
    <label for="name">Phone number</label>
    <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="customer.phoneNumber" name="phoneNumber">
  </div>
  <button type="submit" class="btn btn-success" (click)="onSubmit()">Submit</button>
  <!-- </form> -->
</div>


<div [hidden]="!submitted" style="width: 400px;">
  <h3>Update Customer</h3>
  <form (ngSubmit)="updateCustomer(customer)">
    <div class="form-group">
      <label for="name">Customer</label>
      <input type="text" class="form-control" id="customerName" required [(ngModel)]="customer.customerName"
        name="customerName">
    </div>
    <div class="form-group">
      <label for="name">City</label>
      <select name="locations" class="form-control">
        <option disabled>Select City</option>
        <option *ngFor="let location of locations | async" [ngValue]="location">{{location.cityName}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="name">Phone number</label>
      <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="customer.phoneNumber" name="phoneNumber">
    </div>
    <button type="submit" class="btn btn-success">Update</button>
  </form>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Customer List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Customer</th>
          <!-- <th>City</th> -->
          <th>Phone number</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers | async">
          <td>{{customer.customerName}}</td>
          <!-- <td>{{customer.location.cityName}}</td> -->
          <td>{{customer.phoneNumber}}</td>
          <td><button (click)="deleteCustomer(customer.customerID)" class="btn btn-danger">Delete</button>
            <button (click)="getCustomer(customer.customerID)" class="btn btn-info"
              style="margin-left: 10px">Update</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
