 <div class="product-conatiner">
    <div class="title-header">
        <h4 class="title">Add Company</h4>
    </div>
    <hr>
    <form>
        <div class="title-header">
            <mat-form-field class="forms-fildes">
                <input matInput placeholder="Category Name">
            </mat-form-field>
        </div>
     
        <div class="title-header">
            <mat-form-field class="forms-fildes">
                <input matInput placeholder="Category description">
            </mat-form-field>
        </div>
        <div class="button-container">
            <button class="btn btn-warning" style="width: 25%;margin-left: 5px;"  (click)="closeModal()" aria-label="Close">Cancel</button>
            <button class="btn btn-primary" style="width: 25%;margin-left: 5px;">Save</button>
          
          </div>
    </form>

</div>