<div class="product-conatiner">
    <div class="title-header" *ngIf="categoryUpdateData?.data.id==null">
        <h4 class="title">Add Category</h4>
    </div>
    <div class="title-header" *ngIf="categoryUpdateData?.data.id!=null">
        <h4 class="title">Update Category</h4>
    </div>
    <hr>
    
    <form [formGroup]="categoryForm" (submit)="onSubmit()">
        <div class="title-header">
            <mat-form-field class="forms-fildes">
                <input matInput placeholder="Category Name" formControlName="categoryName" required>
            </mat-form-field>
        </div>
        
        <div class="title-header">
            <mat-form-field class="forms-fildes">
                <input matInput placeholder="Category description" formControlName="categoryDesc">
            </mat-form-field>
        </div>

        <div class="button-container">
            <button type="button" class="btn btn-warning" style="width: 25%;margin-left: 5px;" (click)="closeModal()"
                aria-label="Close">Cancel</button>
            <button class="btn btn-primary" style="width: 25%;margin-left: 5px;"
                [disabled]="!categoryForm.valid">Save</button>
        </div>
        <div class="button-container">
            <h4 style="color: green;">{{successMsg}}</h4>
            <h4 style="color: red;">{{errorMsg}}</h4>
        </div>
    </form>

</div>